{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<main class="container content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% with errors = get_flashed_messages(category_filter=["error"]) %}
					{% if errors %}
					<div class="alert alert-warning fade show">
					<ul>
						{%- for msg in errors %}
						<li>{{ msg }}</li>
						{% endfor -%}
					</ul>
					</div>
					{% endif %}
				{% endwith %}

				{% with messages = get_flashed_messages(category_filter=["success"]) %}
					{% if messages %}		
					{% for message in messages %}
						<div class="alert alert-success" role="alert"> <strong><p> {{ message }} </p></strong></li>
					{% endfor %}
					{% endif %}
				{% endwith %}  
			</div>
		</div>
 	</div>

	<div class="row mt-2">
		<div class="col-md-12">
			<h1>{{ subject.name }}</h1>
		</div>
	</div>

</div>
	<div class="row mt-3">
		<div class="col-md-12">
			<a href="{{url_for('editSubject', subject_id=subject.id)}}">
				<button class="btn btn-sm btn-outline-primary" id="new-menu-item">
					<i class="fas fa-pencil-alt"></i> Edit Subject
				</button>
			</a>
		</a>
		<a href="{{url_for('deleteSubject', subject_id=subject.id)}}">
			<button class="btn btn-sm btn-outline-secondary" id="delete-subject">
				<i class="far fa-trash-alt"></i> Delete Subject
			</button>
		</a>
		</div>
	</div>
	<hr>
	{% if items ==[] %}	
	<div class="row mt-3">
		<div class="col-md-12"><p>No item is found</p></div>
		<div class="col-md-12"><a href="{{url_for('newItem', subject_id=subject.id)}}">
			<button class="btn btn-sm btn-outline-primary" id="new-menu-item">
				<i class="fas fa-plus"></i> Add Homework Item
			</button>
		</a>
		</div>
	</div>
	{% endif %}
	{% if items !=[] %}	
		<div class="row mt-3">
			<div class="col-md-12">
			<a href="{{url_for('newItem', subject_id=subject.id)}}">
				<button class="btn btn-sm btn-outline-primary" id="new-menu-item">
					<i class="fas fa-plus"></i> Add Homework Item
				</button>
			</a>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-between">
			<div class="col-md-3">
				<h2>High Priority</h2>
					{% for i in items %}
						{% if i.priority == "High" %}
							<div class="item mx-auto">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p>{{i.time_estimate}}</p>
								<a href="{{url_for('editItem', subject_id=subject.id, item_id=i.id)}}" role="button">
										<i class="fas fa-pencil-alt"></i> Edit</a> | 
									
								<a href="{{url_for('deleteItem', subject_id=subject.id, item_id=i.id)}}" role="button">
										<i class="far fa-trash-alt"></i> Delete</i>
								</a>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-3">			
				<h2>Medium Priority</h2>
					{% for i in items %}
						{% if i.priority == "Medium" %}
						<div class="item mx-auto">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p>{{i.time_estimate}}</p>
							<a href="{{url_for('editItem', subject_id=subject.id, item_id=i.id)}}">
								<i class="fas fa-pencil-alt"></i> Edit</a> | 
							<a href="{{url_for('deleteItem', subject_id=subject.id, item_id=i.id)}}">
								<i class="far fa-trash-alt"></i> Delete
							</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-3">
				<h2>Low Priority</h2>
					{% for i in items %}
						{% if i.priority == "Low" %}
						<div class="item mx-auto">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p>{{i.time_estimate}}</p>
							<a href="{{url_for('editItem', subject_id=subject.id, item_id=i.id)}}">
								<i class="fas fa-pencil-alt"></i> Edit</a> | 
							<a href="{{url_for('deleteItem', subject_id=subject.id, item_id=i.id)}}">
								<i class="far fa-trash-alt"></i> Delete
							</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
		</div>

	{% endif %}
</main>
{% endblock %}
